.prose {
  *:not(pre) > code:not([class]) {
    @apply before:content-none after:content-none;
    @apply bg-gray-100 rounded font-mono text-sm leading-5 tabular-nums;
    @apply mx-1 px-2 py-0.5 font-normal;
  }

  pre > code:has([class]) {
    @apply text-xs md:text-sm;
  }
}
