.dark {
  color-scheme: dark;
  background-color: #161b22;

  .prose {
    *:not(pre) > code:not([class]) {
      @apply bg-gray-400;
    }
  }
}

.changing-theme,
.changing-theme * {
  transition: none !important;
}

