@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.prose {
  *:not(pre)>code:not([class]) {
    @apply before:content-none after:content-none;
    @apply bg-gray-100 rounded px-2 py-0.5 font-mono text-sm leading-5 tabular-nums;
    @apply mx-1;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

header {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  svg {
    display: inline-block;
    vertical-align: top;
  }

  h1 {
    font-weight: 900;
    font-size: 20px;
    line-height: 1;
    margin: 6px 0 6px 10px;
    display: inline-block;
    vertical-align: top;
  }
}

footer {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  svg {
    cursor: pointer;
    margin-right: .5rem;
    color: rgb(156, 163, 175);

  }

  .github {
    height: 2rem;
    width: 2rem;
  }
}


.document {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.dark {
  input {
    background: #1a202c;
    color: white;
  }
}

.nav-icon, .search-icon {
  float: right;
  width: 28px;
  height: 28px;
  background: 0;

  &::after {
    position: absolute;
    transition: .2s;
    content: "";
  }

  span {
    visibility: hidden;
    transition: .2s;
  }

  &::before {
    content: "";
    position: absolute;
    transition: .2s;
  }
}

.search {
  .nav-icon, .search-icon {
    &::after {
      top: 19px;
      left: 17px;
      width: 6px;
      height: 2px;
      transform: rotate(45deg);
      background: currentColor;
    }

    &::before {
      top: 7px;
      left: 7px;
      width: 13px;
      height: 13px;
      border: solid 2px currentColor;
      border-radius: 50%;
    }
  }
}

.close {
  .nav-icon {
    &::after {
      top: 14px;
      left: 6px;
      width: 18px;
      height: 2px;
      background: currentColor;
      border: 0;
      border-radius: 0;
      transform: rotate(-45deg);
    }

    &::before {
      top: 14px;
      left: 6px;
      width: 18px;
      height: 2px;
      background: currentColor;
      border: 0;
      border-radius: 0;
      transform: rotate(45deg);
    }
  }
}

@media (max-width: 600px) {
  .search {
    .nav-icon {
      &::after {
        left: 6px;
        width: 18px;
        height: 2px;
        background: currentColor;
        border: 0;
        border-radius: 0;
        transform: none;
        top: 21px;
      }

      span {
        position: absolute;
        display: block;
        left: 6px;
        width: 18px;
        height: 2px;
        background: currentColor;
        visibility: visible;
      }

      &::before {
        top: 7px;
        left: 6px;
        width: 18px;
        height: 2px;
        background: currentColor;
        border: 0;
        border-radius: 0;
        transform: none;
      }
    }
  }
}
